---
import Button from "@components/elements/Button.astro";
import Logo from "@components/elements/Logo.astro";

const { burgerOpenSvg = "/src/icons/burger-open.svg", burgerClosedSvg = "/src/icons/burger-closed.svg" } = Astro.props;
---

<header>
  <div class="navWrapper">
    <div class="navContainer">
      <Logo elemType="h2" />
      <nav style={`--burger-open-svg: url('${burgerOpenSvg}'); --burger-closed-svg: url('${burgerClosedSvg}')`}>
        <ul>
          <div class="linksWrapper">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/team.html">Team</a></li>
            <li><a href="/about.html">About</a></li>
            <Button btnType="button" popupTarget="loginPopup">Login</Button>
          </div>
        </ul>
        <Button btnType="button" popupTarget="loginPopup">Login</Button>
        <div popover id="loginPopup">
          <div id="loginFormContainer">
            <h2>Dashboard Login</h2>
            <form method="post" action="">
              <label for="email-address">Email address</label>
              <input type="email" name="email-address" id="email-address" placeholder="Your Email Address" />
              <label for="password">Password</label>
              <input type="password" name="password" id="password" placeholder="Your Password" />
              <Button btnType="button" popupTarget="loginPopup">Go to dashboard</Button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <slot />
</header>

<style>
  .actionBtn {
    --btn-fs: var(--fs-1);
  }

  .navWrapper {
    --nav-bg: rgba(27, 27, 27, 0.91);
    background-color: var(--nav-bg);
    padding-inline: var(--space-xs-s);
  }

  .navContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-block: var(--space-l);

    > .logo {
      --logo-col: var(--color-white);
      --logo-fw: 500;
      justify-self: start;
    }

    > nav {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 2 / span 2;
      align-items: center;

      a {
        text-decoration: none;
        color: var(--color-white);
      }

      > ul > .linksWrapper {
        display: flex;
        gap: var(--space-m);
        > * > * {
          font-size: var(--fs-1);
        }

        > .actionBtn {
          display: none;
        }
      }

      > .actionBtn {
        --btn-pad: var(--btn-pad-s);
        --btn-radius: var(--radius-l);
        --btn-col: var(--color-black);
        --btn-bg: var(--color-accent);
        --btn-fs: var(--fs-1);
        justify-self: end;
      }
    }
  }

  #loginPopup {
    --popover-bg: rgba(0, 0, 0, 0.6);

    display: none;
    opacity: 0;
    translate: 0 -100%;

    transition: 0.6s;
    transition-property: opacity, display, overlay, translate;
    transition-behavior: allow-discrete;

    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.5rem);
    background: var(--popover-bg);

    margin: 0;

    &:popover-open {
      display: grid;
      place-content: center;
      opacity: 1;
      translate: 0 0;

      @starting-style {
        opacity: 0;
        translate: 0 100%;
      }
    }

    #loginFormContainer {
      background-color: var(--color-black);
      color: var(--color-white);
      padding-block: clamp(1rem, 0rem + 5vw, 4rem);
      padding-inline: clamp(1rem, -0.333rem + 6.667vw, 5rem);
      border-radius: var(--radius-m);

      > h2 {
        font-size: var(--fs-4);
      }

      > * + * {
        font-size: var(--fs-0);
      }

      form {
        display: grid;
        margin-block-start: var(--space-l);
        > input {
          background-color: var(--color-white);
          color: var(--color-black);
          margin-block-start: var(--space-3xs);
          border-radius: var(--radius-s);
          padding: 0.5rem;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: var(--color-input-placeholder);
          }
        }
        > label:nth-of-type(n + 2) {
          margin-block-start: var(--space-m);
        }

        > .actionBtn {
          --btn-pad: var(--btn-pad-l);
          --btn-space-top: var(--space-m);
          --btn-radius: var(--radius-l);
          --btn-col: var(--color-black);
          --btn-bg: var(--color-accent);
          --btn-fs: var(--fs-1);
          justify-self: center;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .navWrapper {
      padding-inline: var(--content-padding);
    }
  }

  @media screen and (max-width: 768px) {
    @layer overrides {
      #loginFormContainer {
        > form {
          > .actionBtn {
            --btn-pad: var(--btn-pad-mobile-m);
          }
        }
      }
    }
    .navContainer {
      > nav {
        position: relative;
        display: block;

        justify-self: end;

        background-image: var(--burger-open-svg);
        background-repeat: no-repeat;
        background-size: cover;

        width: var(--fs-4);
        aspect-ratio: 348/256;

        cursor: pointer;

        > .actionBtn {
          display: none;
        }

        > ul {
          display: none;
        }
      }

      > nav::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--burger-closed-svg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.7s cubic-bezier(0.66, 0, 0.34, 1);
        z-index: 1;
      }

      > nav.active {
        background-image: none;

        &::before {
          opacity: 1;
        }

        > ul {
          position: absolute;
          background-color: #000000b5;
          right: calc(var(--space-s-m) * -1);
          top: calc(var(--space-l) + 110%);
          z-index: 400;
          width: 100vw;
          padding-block: var(--space-m);
          display: grid;
          place-content: center;
          cursor: default;

          > .linksWrapper {
            padding: var(--space-xl);
            border-radius: var(--radius-l);
            background-color: var(--color-black);
            display: grid;
            place-items: center;
            row-gap: unset;

            > * + * {
              --flow-space: var(--space-m);
              margin-block-start: var(--flow-space, 0.5rlh);
            }

            > .actionBtn {
              --flow-space: var(--space-l-xl);
              display: inline-block;
              --btn-pad: var(--btn-pad-mobile-l);
              --btn-radius: var(--radius-l);
              --btn-col: var(--color-black);
              --btn-bg: var(--color-accent);
              --btn-fs: var(--fs-1);
              justify-self: center;
            }
          }
        }
      }
    }
  }
</style>

<script is:inline>
  "use strict";
  document.addEventListener("DOMContentLoaded", () => {
    const nav = document.querySelector("nav");
    const mobileScreenWidth = 768;
    let listenerAdded = false;

    function handleNavClick(event) {
      if (event.target.closest("#loginPopup")) {
        return;
      }
      const link = event.target.closest(".linksWrapper a");
      const btn = event.target.closest(".linksWrapper button");
      if (link) {
        event.preventDefault();
        nav.classList.remove("active");
        return;
      }
      if (btn) {
        nav.classList.remove("active");
        return;
      }
      nav.classList.toggle("active");
    }

    function addEventListener() {
      if (window.innerWidth <= mobileScreenWidth && !listenerAdded) {
        nav.addEventListener("click", handleNavClick);
        listenerAdded = true;
        console.log("Listener Added");
      } else if (window.innerWidth > mobileScreenWidth && listenerAdded) {
        nav.removeEventListener("click", handleNavClick);
        listenerAdded = false;
        console.log("Listener Removed");
      }
    }

    window.addEventListener("resize", addEventListener);

    addEventListener();
  });
</script>
